{% extends 'base.html' %}
{% block content %}
    <div class="row center">
        <br>
        <span><a class="waves-effect waves-light btn indigo">Crear invitaciones</a></span>
        <span><a class="waves-effect waves-light btn indigo">Enviar invitaciones solicitadas</a></span>
    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            <table class="responsive-table striped sortable">
                <thead>
                    <tr>
                        <th>Docente</th>
                        <th>Email</th>
                        <th>Universidad</th>
                        <th>Programa</th>
                        <th>Curso</th>
                        <th>Ciudad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jocelyn Simmonds</td>
                        <td>jsimmonds@dcc.uchile.cl</td>
                        <td>Universidad de Chile</td>
                        <td>Ingeniería Civil en Computación</td>
                        <td>Ingeniería de Software 1</td>
                        <td>Santiago</td>
                    </tr>
                    <tr>
                        <td>Sergio Ochoa</td>
                        <td>sochoa@dcc.uchile.cl</td>
                        <td>Universidad de Chile</td>
                        <td>Ingeniería Civil en Computación</td>
                        <td>Ingeniería de Software 2</td>
                        <td>Santiago</td>
                    </tr>
                    <tr>
                        <td>Cecilia Bastarrica</td>
                        <td>cbastarrica@dcc.uchile.cl</td>
                        <td>Universidad de Chile</td>
                        <td>Ingeniería Civil en Computación</td>
                        <td>Proyecto de Software</td>
                        <td>Santiago</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}